<%= form_with(model: membership, local: true) do |form| %>
  <% if membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
        <% membership.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Start" %>
    <%= form.date_select :startDate, :discard_day => true %>
  </div>

  <div class="field">
    <%= form.label "Ende" %>
    <%= form.date_select :endDate, { :discard_day => true, :include_blank => true } %>
  </div>

  <div class="field">
    <%= form.label "Verteilerstelle" %>
    <%= form.collection_select(:distribution_point_id, DistributionPoint.all, :id, :name) %>

  </div>

  <%= form.fields_for :bids, @membership.bids.build do |bid_fields| %>
    <div class="field">
      <%= form.label "Anteile" %>
      <%= bid_fields.number_field :shares %>
    </div>
    <div class="field">
      <%= form.label "Preis" %>
      <%= bid_fields.number_field :amount, step: :any %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
