<p id="notice"><%= notice %></p>

<h1>Mitgliedschaften</h1>

<script type="text/javascript">
    $(document).ready(function() {
        $('#rich-table').dataTable({
            "ordering": true
        });
    });
</script>

<table id="rich-table" class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>Startdatum</th>
    <th>Enddatum</th>
    <th>Verteilerstelle</th>
    <th>Probezeit</th>
    <th>Totale Kosten</th>
    <th>Eingegangene Zahlungen</th>
    <th>Differenz</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @fem.each do |fem| %>
    <tr>
      <td><%= fem.membership.id %></td>
      <td><%= fem.membership.startDate.strftime("%b %Y") %></td>
      <td><%= fem.membership.endDate ? fem.membership.endDate.strftime("%b %Y") : "" %></td>
      <td><%= fem.membership.distribution_point.name %></td>
      <td><%= fem.membership.is_trial_membership? ? "ja":"nein" %></td>
      <td><%= fem.total_cost %> EUR</td>
      <td><%= fem.total_payments %></td>
      <td><%= fem.total_payments - fem.total_cost %></td>

      <td><%= link_to 'Details', fem.membership %></td>
      <td><%= link_to 'Bearbeiten', edit_membership_path(fem.membership) %></td>
      <td><%= link_to 'Löschen', fem.membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Membership', new_membership_path %>
