<p id="notice"><%= notice %></p>

<h1>Mitgliedschaften</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Startdatum</th>
    <th>Enddatum</th>
    <th>Verteilerstelle</th>
    <th>Probezeit</th>
    <th>Totale Kosten</th>
    <th>Eingegangene Zahlungen</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @fem.each do |fem| %>
    <tr>
      <td><%= fem.membership.id %></td>
      <td><%= fem.membership.startDate %></td>
      <td><%= fem.membership.endDate %></td>
      <td><%= fem.membership.distributionPoint %></td>
      <td><%= fem.membership.is_trial_membership? %></td>
      <td><%= fem.total_cost_since_joined %></td>
      <td><%= fem.total_payments %></td>

      <td><%= link_to 'Details', fem.membership %></td>
      <td><%= link_to 'Bearbeiten', edit_membership_path(fem.membership) %></td>
      <td><%= link_to 'Löschen', fem.membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Membership', new_membership_path %>
