<h1>Mitgliedschaften</h1>

<script type="text/javascript">
    $(document).ready(function () {
        $('#rich-table').dataTable({
            "ordering": true
        });
    });
</script>

<table id="rich-table" class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>Startdatum</th>
    <th>Enddatum</th>
    <th>Gekündigt</th>
    <th>Verteilerstelle</th>
    <th>Mitglieder</th>
    <th>Gebote</th>
    <th>Soll (Gesamt)</th>
    <th>Ist (Gesamt)</th>
    <th>Kontostand</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @memberships.each do |membership| %>
    <tr>
      <td><%= link_to "#{membership.id}", membership_url(membership.id) %></td>
      <td><%= membership.start_date ? membership.start_date.strftime("%b %Y") : "" %></td>
      <td><%= membership.end_date ? membership.end_date.strftime("%b %Y") : "" %></td>
      <td><%= membership.terminated ? "Ja" : "Nein" %></td>
      <td><%= link_to "#{membership.distribution_point.name}", distribution_point_url(membership.distribution_point.id) %></td>
      <td><%= membership.people.count %></td>
      <td><%= membership.bids.count %></td>
      <td><%= number_to_currency(membership.total_cost) %></td>
      <td><%= number_to_currency(membership.total_payments) %></td>
      <td><%= number_to_currency(membership.total_balance) %></td>

      <td><%= link_to 'Details', membership %></td>
      <td><%= link_to 'Bearbeiten', edit_membership_path(membership) %></td>
      <td><%= link_to 'Löschen', membership, method: :delete, data: { confirm: 'Bist du sicher?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<!-- Button trigger modal -->

<%= render 'reminder_mail_modal' %>

<div class="card">
  <h3 class="card-header">Aktionen</h3>
  <div class="card-body">
    <%= button_to 'Neue Mitgliedschaft anlegen', new_membership_path,  { type: "button", class: 'btn btn-outline-primary', method: :get } %>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Zahlungserinnerungen verschicken
    </button>
  </div>
</div>


<br>
<br>

<div>
  <h3>Mitgliedschaften importieren</h3>
  <div class="alert alert-info" role="alert">
    CSV Datei (komma-getrennt) mit Feldern: membership_id, distribution_point_id
  </div>
  <%= form_tag import_memberships_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "CSV importieren" %>
  <% end %>
</div>
