<p id="notice"><%= notice %></p>

<p>
  <strong>Startdatum:</strong>
  <%= @membership.startDate.strftime("%b %Y") %>
</p>

<p>
  <strong>Enddatum:</strong>
  <%= @membership.endDate ? @membership.endDate.strftime("%b %Y") : "" %>
</p>

<p>
  <strong>Verteilerstelle:</strong>
  <%= @membership.distribution_point.name %>
</p>

<p>
<strong>Probezeit:</strong>
  <%= @membership.is_trial_membership? %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
