<h1>Daten des Mitglieds</h1>

<p>
  <strong>Vorname:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Nachname:</strong>
  <%= @person.surname %>
</p>

<p>
  <strong>E-Mail:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Telefon:</strong>
  <%= @person.phone %>
</p>

<p>
  <strong>Mitgliedschaft:</strong>
  <%= @person.membership_id %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
