<div class="card">
  <h3 class="card-header">Details des Mitglieds</h3>
  <div class="card-body">
    <p>
      <strong>Vorname:</strong>
      <%= @person.name %>
    </p>

    <p>
      <strong>Nachname:</strong>
      <%= @person.surname %>
    </p>

    <p>
      <strong>E-Mail:</strong>
      <%= mail_to(@person.email) %>
    </p>

    <p>
      <strong>Telefon:</strong>
      <%= @person.phone %>
    </p>

    <p>
      <strong>Mitgliedschaft:</strong>
      <%= link_to "#{@person.membership_id}", membership_url(@person.membership_id) %>
    </p>

    <p>
      <strong>Status des Nutzers auf der Webseite:</strong>
      <%= @person.website_account_status %>
    </p>

    <p>
      <strong>Änderungen:</strong>
    <table id="rich-table" class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Benutzer</th>
        <th>Datum</th>
        <th>Aktion</th>
        <th>Änderungen</th>
      </tr>
      </thead>

      <tbody>
      <% @person.versions.each do |version| %>
        <tr>
          <td><%= link_to version.whodunnit, "/users/#{version.whodunnit}" %></td>
          <td><%= l(version.created_at) %></td>
          <td><%= version.event %></td>
          <td><%= version.object_changes.map { |k,v| "<p>#{k}: #{v}</p>" }.join("").html_safe %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </p>

    <%= link_to 'Bearbeiten', edit_person_path(@person) %> |
    <%= link_to 'Zurück', people_path %>
  </div>
</div>