<%= form_with(model: bid, local: true) do |form| %>
  <% if bid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bid.errors.count, "error") %> prohibited this bid from being saved:</h2>

      <ul>
        <% bid.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :shares %>
    <%= form.number_field :shares %>
  </div>

  <div class="field">
    <%= form.label :contract_signed %>
    <%= form.check_box :contract_signed %>
  </div>

  <div class="field">
    <%= form.label :membership_id %>
    <%= form.text_field :membership_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
