<h1>Gebote</h1>

<script type="text/javascript">
    $(document).ready(function () {
        $('#rich-table').dataTable({
            "ordering": true,
            "stateSave": true,
            "columnDefs": [
                {"targets": 3, "type": "date-eu"}
            ]
        });
    });
</script>

<table id="rich-table" class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Mitgliedschaft</th>
    <th>Start</th>
    <th>Ende</th>
    <th>Anteile</th>
    <th>Betrag</th>
    <th>Vereinbarung unterschrieben</th>
    <th>Abgegeben von</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @bids.each do |bid| %>
    <tr>
      <td><%= link_to "#{bid.membership_id}", membership_url(bid.membership_id) %></td>
      <td><%= bid.start_date.strftime("%b %Y") %></td>
      <td><%= bid.end_date.strftime("%b %Y") %></td>
      <td><%= bid.shares %></td>
      <td><%= number_to_currency(bid.amount) %></td>
      <td><%= bid.contract_signed ? "Ja" : "Nein" %></td>
      <td><%= bid.person ? (link_to "#{bid.person.name} #{bid.person.surname}", person_url(bid.person.id)) : "n.a." %></td>
      <td><%= link_to 'Details', bid %></td>
      <td><%= link_to 'Bearbeiten', edit_bid_path(bid) %></td>
      <td><%= link_to 'Löschen', bid, method: :delete, data: { confirm: 'Bist du sicher?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neues Gebot anlegen', new_bid_path %>

<br>
<br>

<div>
  <h3>Gebote importieren</h3>
  <div class="alert alert-info" role="alert">
    CSV Datei (komma-getrennt) mit Feldern: membership_id, fiscal_year, shares, price_per_share
  </div>
  <%= form_tag import_bids_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "CSV importieren" %>
  <% end %>
</div>

<br>
<br>

<div class="card">
  <div class="card-body">
    <h3>Statistik</h3>
    <div style="width: 100%">
      <canvas id="bidStats"></canvas>
    </div>
    <script>
        var currency_formatter = new Intl.NumberFormat('de-DE', {
            style: 'currency',
            currency: 'EUR',
        });

        var ctx = document.getElementById('bidStats').getContext('2d');
        var myBarChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: <%= @bid__average_prices.map{|e| e[0].strftime("%b %Y")}.to_json.html_safe %>,
                datasets: [
                    {
                        backgroundColor: 'purple',
                        borderColor: 'purple',
                        borderWidth: 2,
                        label: "Preis / Anteil / Monat",
                        fill: false,
                        data: <%= @bid__average_prices.map{|e| e[1]}.to_json.html_safe %>
                    }
                ],
            },
            options: {
                tooltips: {
                    mode: 'x',
                    callbacks: {
                        label: function (tooltipItem, data) {
                            let index = tooltipItem.datasetIndex
                            let label = data.datasets[index].label
                            return currency_formatter.format(tooltipItem.yLabel) + ` (${label})`;
                        }
                    }
                }
            }
        });
    </script>
  </div>
</div>
