<p id="notice"><%= notice %></p>

<h1>Übersicht</h1>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h3>Gesamt</h3>
          <p>Erwartet: <%= @data.total_balance.cost %> €</p>
          <p>Erhalten: <%= @data.total_balance.payments %> €</p>
          <p>Differenz: <%= @data.total_balance.payments - @data.total_balance.cost %> €</p>
          <div style="width: 250px">
            <canvas id="totalPieChart"></canvas>
          </div>
          <script>
              var ctx = document.getElementById('totalPieChart').getContext('2d');
              var myDoughnutChart = new Chart(ctx, {
                  type: 'doughnut',
                  data: {
                      datasets: [{
                          data: [
                              <%= @data.total_balance.cost - @data.total_balance.payments %>,
                              <%= @data.total_balance.payments %>,
                          ],
                          backgroundColor: [
                              '#ED561B',
                              '#50B432'
                          ]
                      }],
                      labels: [
                          'Ausstehend',
                          'Erhalten',
                      ],

                  }
              });
          </script>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h3>Wirtschaftsjahr 2021</h3>
          <p>Erwartet: <%= @data.current_year_balance.cost %> €</p>
          <p>Erhalten: <%= @data.current_year_balance.payments %> €</p>
          <p>Differenz: <%= @data.current_year_balance.payments - @data.current_year_balance.cost %> €</p>
          <div style="width: 250px">
            <canvas id="currentYearPieChart"></canvas>
          </div>
          <script>
              var ctx = document.getElementById('currentYearPieChart').getContext('2d');
              var myDoughnutChart = new Chart(ctx, {
                  type: 'doughnut',
                  data: {
                      datasets: [{
                          data: [
                              <%= @data.current_year_balance.cost - @data.current_year_balance.payments %>,
                              <%= @data.current_year_balance.payments %>
                          ],
                          backgroundColor: [
                              '#ED561B',
                              '#50B432'
                          ]
                      }],
                      labels: [
                          'Ausstehend',
                          'Erhalten',
                      ],

                  }
              });
          </script>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h3>Mitgliedschaften</h3>
          <p>Total: <%= @data.membership_stats.monthly_amount %></p>
          <p>Aktiv: <%= @data.membership_stats.currently_active %></p>
          <p>vergebene Anteile: <%= @data.membership_stats.current_shares %></p>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h3>Im letzten Monat</h3>
          <p>Erwartet: <%= @data.last_month_balance.cost %> €</p>
          <p>Erhalten: <%= @data.last_month_balance.payments %> €</p>
          <p>Differenz: <%= @data.last_month_balance.payments - @data.last_month_balance.cost %> €</p>
          <div style="width: 250px">
            <canvas id="lastMonthPieChart"></canvas>
          </div>
          <script>
              var ctx = document.getElementById('lastMonthPieChart').getContext('2d');
              var myDoughnutChart = new Chart(ctx, {
                  type: 'doughnut',
                  data: {
                      datasets: [{
                          data: [
                              <%= @data.last_month_balance.cost - @data.last_month_balance.payments %>,
                              <%= @data.last_month_balance.payments %>
                          ],
                          backgroundColor: [
                              '#ED561B',
                              '#50B432'
                          ]
                      }],
                      labels: [
                          'Ausstehend',
                          'Erhalten',
                      ],

                  }
              });
          </script>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h3>In diesem Monat</h3>
          <p>Erwartet: <%= @data.this_month_balance.cost %> €</p>
          <p>Erhalten: <%= @data.this_month_balance.payments %> €</p>
          <p>Differenz: <%= @data.this_month_balance.payments - @data.this_month_balance.cost %> €</p>
          <div style="width: 250px">
            <canvas id="currentMonthPieChart"></canvas>
          </div>
          <script>
              var ctx = document.getElementById('currentMonthPieChart').getContext('2d');
              var myDoughnutChart = new Chart(ctx, {
                  type: 'doughnut',
                  data: {
                      datasets: [{
                          data: [
                              <%= @data.this_month_balance.cost - @data.this_month_balance.payments %>,
                              <%= @data.this_month_balance.payments %>
                          ],
                          backgroundColor: [
                              '#ED561B',
                              '#50B432'
                          ]
                      }],
                      labels: [
                          'Ausstehend',
                          'Erhalten',
                      ],

                  }
              });
          </script>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h3>Nächsten Monat</h3>
          <p>Erwartet: <%= @data.next_month_balance.cost %> €</p>
          <p>Erhalten: <%= @data.next_month_balance.payments %> €</p>
          <p>Differenz: <%= @data.next_month_balance.payments - @data.next_month_balance.cost %> €</p>
          <div style="width: 250px">
            <canvas id="nextMonthPieChart"></canvas>
          </div>
          <script>
              var ctx = document.getElementById('nextMonthPieChart').getContext('2d');
              var myDoughnutChart = new Chart(ctx, {
                  type: 'doughnut',
                  data: {
                      datasets: [{
                          data: [
                              <%= @data.next_month_balance.cost - @data.next_month_balance.payments %>,
                              <%= @data.next_month_balance.payments %>
                          ],
                          backgroundColor: [
                              '#ED561B',
                              '#50B432'
                          ]
                      }],
                      labels: [
                          'Ausstehend',
                          'Erhalten',
                      ],

                  }
              });
          </script>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h3>Monatliche Einnahmen</h3>
          <div style="width: 600px">
            <canvas id="monthlyIncome"></canvas>
          </div>
          <script>
              var ctx = document.getElementById('monthlyIncome').getContext('2d');
              var myBarChart = new Chart(ctx, {
                  type: 'bar',
                  data: {
                      labels: <%= @data.monthly_income[0].to_json.html_safe %>,
                      datasets: [
                          {
                              backgroundColor: '#ED561B',
                              borderWidth: 1,
                              label: "Einnahmen",
                              data: <%= @data.monthly_income[1].to_json.html_safe %>
                          }
                      ],
                  },
                  options: {
                      scales: {
                          yAxes: [{
                              ticks: {
                                  beginAtZero: true
                              }
                          }]
                      }
                  }
              });
          </script>
        </div>
      </div>
    </div>

  </div>
</div>



