<h1>Übersicht</h1>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h3>Gesamt</h3>
          <p>Erwartet: <%= format_currency_value(@data.total_balance.cost) %></p>
          <p>Erhalten: <%= format_currency_value(@data.total_balance.payments) %></p>
          <p>Differenz: <%= format_currency_value(@data.total_balance.payments - @data.total_balance.cost) %></p>
          <div style="width: 250px">
            <canvas id="totalPieChart"></canvas>
          </div>
          <script>
              var ctx = document.getElementById('totalPieChart').getContext('2d');
              var myDoughnutChart = new Chart(ctx, {
                  type: 'doughnut',
                  data: {
                      datasets: [{
                          data: [
                              <%= @data.total_balance.cost - @data.total_balance.payments %>,
                              <%= @data.total_balance.payments %>,
                          ],
                          backgroundColor: [
                              '#ED561B',
                              '#50B432'
                          ]
                      }],
                      labels: [
                          'Ausstehend',
                          'Erhalten',
                      ],

                  }
              });
          </script>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h3>Wirtschaftsjahr 2021</h3>
          <p>Erwartet: <%= format_currency_value(@data.current_year_balance.cost) %></p>
          <p>Erhalten: <%= format_currency_value(@data.current_year_balance.payments) %></p>
          <p>Differenz: <%= format_currency_value(@data.current_year_balance.payments - @data.current_year_balance.cost) %></p>
          <div style="width: 250px">
            <canvas id="currentYearPieChart"></canvas>
          </div>
          <script>
              var ctx = document.getElementById('currentYearPieChart').getContext('2d');
              var myDoughnutChart = new Chart(ctx, {
                  type: 'doughnut',
                  data: {
                      datasets: [{
                          data: [
                              <%= @data.current_year_balance.cost - @data.current_year_balance.payments %>,
                              <%= @data.current_year_balance.payments %>
                          ],
                          backgroundColor: [
                              '#ED561B',
                              '#50B432'
                          ]
                      }],
                      labels: [
                          'Ausstehend',
                          'Erhalten',
                      ],

                  }
              });
          </script>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h3>Mitgliedschaften</h3>
          <p>Total: <%= @data.membership_stats.total_amount %></p>
          <p>Aktiv: <%= @data.membership_stats.currently_active %></p>
          <p>momentan vergebene Anteile: <%= @data.membership_stats.current_shares %></p>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h3>Im letzten Monat</h3>
          <p>Erwartet: <%= format_currency_value(@data.last_month_balance.cost) %></p>
          <p>Erhalten: <%= format_currency_value(@data.last_month_balance.payments) %></p>
          <p>Differenz: <%= format_currency_value(@data.last_month_balance.payments - @data.last_month_balance.cost) %></p>
          <div style="width: 250px">
            <canvas id="lastMonthPieChart"></canvas>
          </div>
          <script>
              var ctx = document.getElementById('lastMonthPieChart').getContext('2d');
              var myDoughnutChart = new Chart(ctx, {
                  type: 'doughnut',
                  data: {
                      datasets: [{
                          data: [
                              <%= @data.last_month_balance.cost - @data.last_month_balance.payments %>,
                              <%= @data.last_month_balance.payments %>
                          ],
                          backgroundColor: [
                              '#ED561B',
                              '#50B432'
                          ]
                      }],
                      labels: [
                          'Ausstehend',
                          'Erhalten',
                      ],

                  }
              });
          </script>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h3>In diesem Monat</h3>
          <p>Erwartet: <%= format_currency_value(@data.this_month_balance.cost) %></p>
          <p>Erhalten: <%= format_currency_value(@data.this_month_balance.payments) %></p>
          <p>Differenz: <%= format_currency_value(@data.this_month_balance.payments - @data.this_month_balance.cost) %></p>
          <div style="width: 250px">
            <canvas id="currentMonthPieChart"></canvas>
          </div>
          <script>
              var ctx = document.getElementById('currentMonthPieChart').getContext('2d');
              var myDoughnutChart = new Chart(ctx, {
                  type: 'doughnut',
                  data: {
                      datasets: [{
                          data: [
                              <%= @data.this_month_balance.cost - @data.this_month_balance.payments %>,
                              <%= @data.this_month_balance.payments %>
                          ],
                          backgroundColor: [
                              '#ED561B',
                              '#50B432'
                          ]
                      }],
                      labels: [
                          'Ausstehend',
                          'Erhalten',
                      ],

                  }
              });
          </script>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h3>Nächsten Monat</h3>
          <p>Erwartet: <%= format_currency_value(@data.next_month_balance.cost) %></p>
          <p>Erhalten: <%= format_currency_value(@data.next_month_balance.payments) %></p>
          <p>Differenz: <%= format_currency_value(@data.next_month_balance.payments - @data.next_month_balance.cost) %></p>
          <div style="width: 250px">
            <canvas id="nextMonthPieChart"></canvas>
          </div>
          <script>
              var ctx = document.getElementById('nextMonthPieChart').getContext('2d');
              var myDoughnutChart = new Chart(ctx, {
                  type: 'doughnut',
                  data: {
                      datasets: [{
                          data: [
                              <%= @data.next_month_balance.cost - @data.next_month_balance.payments %>,
                              <%= @data.next_month_balance.payments %>
                          ],
                          backgroundColor: [
                              '#ED561B',
                              '#50B432'
                          ]
                      }],
                      labels: [
                          'Ausstehend',
                          'Erhalten',
                      ],

                  }
              });
          </script>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h3>Monatliche Einnahmen</h3>
          <div style="width: 100%">
            <canvas id="monthlyRevenue"></canvas>
          </div>
          <script>
              var formatter = new Intl.NumberFormat('de-DE', {
                  style: 'currency',
                  currency: 'EUR',
              });

              var ctx = document.getElementById('monthlyRevenue').getContext('2d');
              var myBarChart = new Chart(ctx, {
                  type: 'bar',
                  data: {
                      labels: <%= @data.monthly_revenue.labels.to_json.html_safe %>,
                      datasets: [
                          {
                              backgroundColor: '#ED561B',
                              borderWidth: 1,
                              label: "Einnahmen",
                              data: <%= @data.monthly_revenue.revenue.to_json.html_safe %>
                          },
                          {
                              backgroundColor: '#50B432',
                              borderWidth: 1,
                              label: "Erwartet",
                              type: 'line',
                              fill: false,
                              borderColor: '#50B432',
                              data: <%= @data.monthly_revenue.expected.to_json.html_safe %>
                          }
                      ],
                  },
                  options: {
                      tooltips: {
                          callbacks: {
                              label: function(tooltipItem, data) {
                                  return formatter.format(tooltipItem.yLabel);
                              }
                          }
                      },
                      scales: {
                          yAxes: [{
                              ticks: {
                                  beginAtZero: true,
                                  callback: function(value, index, values) {
                                      return formatter.format(value);
                                  }
                              }
                          }]
                      }
                  }
              });
          </script>
        </div>
      </div>
    </div>

  </div>
</div>



