<h1>Übersicht</h1>

<div class="container">
  <div class="row">
    <div class="alert alert-info" role="alert">
      Einnahmen werden immer bis zum 15. eines Monats zum aktuellen Monat gezählt. Danach zählen sie bereits zum darauffolgenden Monat.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h3>Wirtschaftsjahr 2021</h3>
          <h6>01.04.2021 - 31.03.2022</h6>
          <p>Erwartet: <%= number_to_currency(@data.last_year_balance.cost) %></p>
          <p>Erhalten: <%= number_to_currency(@data.last_year_balance.payments) %></p>
          <p>Differenz: <%= number_to_currency(@data.last_year_balance.payments - @data.last_year_balance.cost) %></p>
          <div style="width: 250px">
            <canvas id="lastYearPieChart"></canvas>
          </div>
          <script>
              var ctx = document.getElementById('lastYearPieChart').getContext('2d');
              var myDoughnutChart = new Chart(ctx, {
                  type: 'doughnut',
                  data: {
                      datasets: [{
                          data: [
                              <%= @data.last_year_balance.cost - @data.last_year_balance.payments %>,
                              <%= @data.last_year_balance.payments %>
                          ],
                          backgroundColor: [
                              '#ED561B',
                              '#50B432'
                          ]
                      }],
                      labels: [
                          'Ausstehend',
                          'Erhalten',
                      ],

                  }
              });
          </script>
        </div>
      </div>
    </div>

    <div class="col-sm-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h3>Wirtschaftsjahr 2022</h3>
          <h6>01.04.2022 - 31.03.2023</h6>
          <p>Erwartet: <%= number_to_currency(@data.current_year_balance.cost) %></p>
          <p>Erhalten: <%= number_to_currency(@data.current_year_balance.payments) %></p>
          <p>Differenz: <%= number_to_currency(@data.current_year_balance.payments - @data.current_year_balance.cost) %></p>
          <div style="width: 250px">
            <canvas id="currentYearPieChart"></canvas>
          </div>
          <script>
              var ctx = document.getElementById('currentYearPieChart').getContext('2d');
              var myDoughnutChart = new Chart(ctx, {
                  type: 'doughnut',
                  data: {
                      datasets: [{
                          data: [
                              <%= @data.current_year_balance.cost - @data.current_year_balance.payments %>,
                              <%= @data.current_year_balance.payments %>
                          ],
                          backgroundColor: [
                              '#ED561B',
                              '#50B432'
                          ]
                      }],
                      labels: [
                          'Ausstehend',
                          'Erhalten',
                      ],

                  }
              });
          </script>
        </div>
      </div>
    </div>

    <div class="col-sm-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h3>Wirtschaftsjahr 2023</h3>
          <h6>01.04.2023 - 31.03.2024</h6>
          <p>Erwartet: <%= number_to_currency(@data.next_year_balance.cost) %></p>
          <p>Erhalten: <%= number_to_currency(@data.next_year_balance.payments) %></p>
          <p>Differenz: <%= number_to_currency(@data.next_year_balance.payments - @data.next_year_balance.cost) %></p>
          <div style="width: 250px">
            <canvas id="nextYearPieChart"></canvas>
          </div>
          <script>
              var ctx = document.getElementById('nextYearPieChart').getContext('2d');
              var myDoughnutChart = new Chart(ctx, {
                  type: 'doughnut',
                  data: {
                      datasets: [{
                          data: [
                              <%= @data.next_year_balance.cost - @data.next_year_balance.payments %>,
                              <%= @data.next_year_balance.payments %>
                          ],
                          backgroundColor: [
                              '#ED561B',
                              '#50B432'
                          ]
                      }],
                      labels: [
                          'Ausstehend',
                          'Erhalten',
                      ],

                  }
              });
          </script>
        </div>
      </div>
    </div>

    <div class="col-sm-12 mb-4">
      <div class="card">
        <div class="card-body">
          <h3>Mitgliedschaften</h3>
          <p>Total: <%= @data.membership_stats.total_amount %></p>
          <p>momentan Aktiv: <%= @data.membership_stats.currently_active %></p>
          <p>momentan vergebene Anteile: <%= @data.membership_stats.current_shares %></p>
          <p>momentaner durchschnittlicher Preis pro Anteil und Monat: <%= number_to_currency(@data.membership_stats.average_share_price) %></p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h3><%= @data.balance_triple.last_month.end_date.strftime("%b %Y") %></h3>
          <h6><%= l(@data.balance_triple.last_month.start_date) %> - <%= l(@data.balance_triple.last_month.end_date) %> </h6>
          <p>Erwartet: <%= number_to_currency(@data.balance_triple.last_month.cost) %></p>
          <p>Erhalten: <%= number_to_currency(@data.balance_triple.last_month.payments) %></p>
          <p>Differenz: <%= number_to_currency(@data.balance_triple.last_month.payments - @data.balance_triple.last_month.cost) %></p>
          <div style="width: 250px">
            <canvas id="lastMonthPieChart"></canvas>
          </div>
          <script>
              var ctx = document.getElementById('lastMonthPieChart').getContext('2d');
              var myDoughnutChart = new Chart(ctx, {
                  type: 'doughnut',
                  data: {
                      datasets: [{
                          data: [
                              <%= @data.balance_triple.last_month.cost - @data.balance_triple.last_month.payments %>,
                              <%= @data.balance_triple.last_month.payments %>
                          ],
                          backgroundColor: [
                              '#ED561B',
                              '#50B432'
                          ]
                      }],
                      labels: [
                          'Ausstehend',
                          'Erhalten',
                      ],

                  }
              });
          </script>
        </div>
      </div>
    </div>

    <div class="col-sm-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h3><%= @data.balance_triple.this_month.end_date.strftime("%b %Y") %></h3>
          <h6><%= l(@data.balance_triple.this_month.start_date) %> - <%= l(@data.balance_triple.this_month.end_date) %> </h6>
          <p>Erwartet: <%= number_to_currency(@data.balance_triple.this_month.cost) %></p>
          <p>Erhalten: <%= number_to_currency(@data.balance_triple.this_month.payments) %></p>
          <p>Differenz: <%= number_to_currency(@data.balance_triple.this_month.payments - @data.balance_triple.this_month.cost) %></p>
          <div style="width: 250px">
            <canvas id="currentMonthPieChart"></canvas>
          </div>
          <script>
              var ctx = document.getElementById('currentMonthPieChart').getContext('2d');
              var myDoughnutChart = new Chart(ctx, {
                  type: 'doughnut',
                  data: {
                      datasets: [{
                          data: [
                              <%= @data.balance_triple.this_month.cost - @data.balance_triple.this_month.payments %>,
                              <%= @data.balance_triple.this_month.payments %>
                          ],
                          backgroundColor: [
                              '#ED561B',
                              '#50B432'
                          ]
                      }],
                      labels: [
                          'Ausstehend',
                          'Erhalten',
                      ],

                  }
              });
          </script>
        </div>
      </div>
    </div>

    <div class="col-sm-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h3><%= @data.balance_triple.next_month.end_date.strftime("%b %Y") %></h3>
          <h6><%= l(@data.balance_triple.next_month.start_date) %> - <%= l(@data.balance_triple.next_month.end_date) %> </h6>
          <p>Erwartet: <%= number_to_currency(@data.balance_triple.next_month.cost) %></p>
          <p>Erhalten: <%= number_to_currency(@data.balance_triple.next_month.payments) %></p>
          <p>Differenz: <%= number_to_currency(@data.balance_triple.next_month.payments - @data.balance_triple.next_month.cost) %></p>
          <div style="width: 250px">
            <canvas id="nextMonthPieChart"></canvas>
          </div>
          <script>
              var ctx = document.getElementById('nextMonthPieChart').getContext('2d');
              var myDoughnutChart = new Chart(ctx, {
                  type: 'doughnut',
                  data: {
                      datasets: [{
                          data: [
                              <%= @data.balance_triple.next_month.cost - @data.balance_triple.next_month.payments %>,
                              <%= @data.balance_triple.next_month.payments %>
                          ],
                          backgroundColor: [
                              '#ED561B',
                              '#50B432'
                          ]
                      }],
                      labels: [
                          'Ausstehend',
                          'Erhalten',
                      ],

                  }
              });
          </script>
        </div>
      </div>
    </div>

    <div class="col-sm-12 mb-4">
      <div class="card">
        <div class="card-body">
          <h3>Monatliche Einnahmen</h3>
          <div style="width: 100%">
            <canvas id="monthlyRevenue"></canvas>
          </div>
          <script>
              var currency_formatter = new Intl.NumberFormat('de-DE', {
                  style: 'currency',
                  currency: 'EUR',
              });

              var ctx = document.getElementById('monthlyRevenue').getContext('2d');
              var myBarChart = new Chart(ctx, {
                  type: 'bar',
                  data: {
                      labels: <%= @data.monthly_revenue.labels.to_json.html_safe %>,
                      datasets: [
                          {
                              yAxisID: 'A',
                              backgroundColor: '#50B432',
                              borderColor: '#50B432',
                              borderWidth: 1,
                              label: "Zugeordnet",
                              data: <%= @data.monthly_revenue.revenue.to_json.html_safe %>,
                              stack: 'in',
                          },
                          {
                              yAxisID: 'A',
                              backgroundColor: '#ED561B',
                              borderColor: '#ED561B',
                              borderWidth: 1,
                              label: "Nicht zugeordnet",
                              data: <%= @data.monthly_revenue.not_associated_payments.to_json.html_safe %>,
                              stack: 'in',
                          },
                          {
                              yAxisID: 'A',
                              backgroundColor: '#36a2eb',
                              borderColor: '#36a2eb',
                              borderWidth: 1,
                              label: "Erwartet",
                              data: <%= @data.monthly_revenue.expected.to_json.html_safe %>,
                              stack: 'expected',
                          }
                      ],
                  },
                  options: {
                      tooltips: {
                          mode: 'x',
                          callbacks: {
                              footer: (tooltipItems, data) => {
                                  let tooltipItem = tooltipItems[0]
                                  // console.log(tooltipItem)
                                  // console.log(data)

                                  if (tooltipItem.datasetIndex !== 2) {
                                      let index = tooltipItem.index
                                      let total = parseFloat(data.datasets[0].data[index]) + parseFloat(data.datasets[1].data[index]);
                                      return 'Einnahmen gesamt: ' + currency_formatter.format(total);
                                  }
                              },
                              label: function (tooltipItem, data) {
                                  let index = tooltipItem.datasetIndex
                                  let label = data.datasets[index].label
                                  return currency_formatter.format(tooltipItem.yLabel) + ` (${label})`;
                              }
                          }
                      },
                      scales: {
                          yAxes: [
                              {
                                  id: 'A',
                                  type: 'linear',
                                  position: 'left',
                                  ticks: {
                                      beginAtZero: true,
                                      callback: function (value, index, values) {
                                          return currency_formatter.format(value);
                                      }
                                  }
                              }
                          ]
                      }
                  }
              });
          </script>
        </div>
      </div>
    </div>

    <div class="col-sm-12 mb-4">
      <div class="card">
        <div class="card-body">
          <h3>Vergebene Anteile pro Monat</h3>
          <div style="width: 100%">
            <canvas id="monthlyShares"></canvas>
          </div>
          <script>

              var ctx = document.getElementById('monthlyShares').getContext('2d');
              var myBarChart = new Chart(ctx, {
                  type: 'line',
                  data: {
                      labels: <%= @data.monthly_shares.labels.to_json.html_safe %>,
                      datasets: [
                          {
                              backgroundColor: 'purple',
                              borderColor: 'purple',
                              borderWidth: 2,
                              label: "Anteile",
                              fill: false,
                              data: <%= @data.monthly_shares.shares.to_json.html_safe %>
                          }
                      ],
                  },
              });
          </script>
        </div>
      </div>
    </div>
  </div>
</div>



