<div class="card">
  <h3 class="card-header">Daten der Verteilerstelle</h3>
  <div class="card-body">
    <p>
      <strong>Name:</strong>
      <%= @distribution_point.name %>
    </p>

    <p>
      <strong>Straße:</strong>
      <%= @distribution_point.street %>
    </p>

    <p>
      <strong>Hausnummer:</strong>
      <%= @distribution_point.housenumber %>
    </p>

    <p>
      <strong>Postleitzahl:</strong>
      <%= @distribution_point.zipcode %>
    </p>

    <p>
      <strong>Stadt:</strong>
      <%= @distribution_point.city %>
    </p>

    <p>
      <strong>Ansprechpartner:</strong>
      <% if @distribution_point.person %>
        <%= link_to "#{@distribution_point.person.full_name}", person_url(@distribution_point.person.id) %>
      <% end %>
    </p>

    <p>
      <strong>Bisher insgesamt eingegangene Zahlungen:</strong>
      <%= number_to_currency(@distribution_point.total_payments) %>
    </p>

    <%= link_to 'Bearbeiten', edit_distribution_point_path(@distribution_point) %> |
    <%= link_to 'Zurück', distribution_points_path %>
  </div>
</div>

<div class="card">
  <h3 class="card-header">Zugeordnete Mitgliedschaften</h3>
  <div class="card-body">
    <script type="text/javascript">
        $(document).ready(function () {
            $('#rich-table').dataTable({
                ordering: true,
                rowGroup: {
                    dataSrc: 3
                }
            });
        });
    </script>

    <table id="rich-table" class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>ID</th>
        <th>Startdatum</th>
        <th>Enddatum</th>
      </tr>
      </thead>

      <tbody>
      <% @distribution_point.memberships.each do |membership| %>
        <tr>
          <td><%= link_to "#{membership.id}", membership_url(membership.id) %></td>
          <td><%= membership.start_date ? membership.start_date.strftime("%b %Y") : "" %></td>
          <td><%= membership.end_date ? membership.end_date.strftime("%b %Y") : "" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>



