<p id="notice"><%= notice %></p>

<p>
  <strong>Month:</strong>
  <%= @payment.month %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Memberships:</strong>
  <%= @payment.membership_id %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
