<h1>Daten der Zahlung</h1>

<p>
  <strong>Jahr:</strong>
  <%= @payment.year %>
</p>

<p>
  <strong>Monat:</strong>
  <%= @payment.month %>
</p>

<p>
  <strong>Betrag:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Mitgliedschaft:</strong>
  <%= @payment.membership_id %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
