<h1>Daten des Gebots</h1>

<p>
  <strong>Jahr:</strong>
  <%= @price.year %>
</p>

<p>
  <strong>Monat:</strong>
  <%= @price.month %>
</p>

<p>
  <strong>Anteile:</strong>
  <%= @price.shares %>
</p>

<p>
  <strong>Betrag:</strong>
  <%= @price.amount %>
</p>

<p>
  <strong>Mitgliedschaft:</strong>
  <%= @price.membership_id %>
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
