<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @price.year %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @price.amount %>
</p>

<p>
  <strong>Memberships:</strong>
  <%= @price.memberships_id %>
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
