<p>
  <strong>Year:</strong>
  <%= @price.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @price.month %>
</p>

<p>
  <strong>Shares:</strong>
  <%= @price.shares %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @price.amount %>
</p>

<p>
  <strong>Memberships:</strong>
  <%= @price.membership_id %>
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
