<h1>Transaktionen</h1>

<script type="text/javascript">

    $(document).ready(function () {
        $('#transactions-table').dataTable({
            "processing": true,
            "serverSide": true,
            "ordering": true,
            "stateSave": true,
            "pagingType": "full_numbers",
            "columns": [
                {"data": "entry_date"},
                {"data": "sender"},
                {"data": "description"},
                {"data": "amount"},
                {"data": "currency"},
                {"data": "membership_id"},
                {"data": "status_message"},
                {"data": "status"},
                {"data": "details"},
                {"data": "edit"},
                {"data": "delete"}
            ]
        });
    });
</script>

<table id="transactions-table" class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Buchungsdatum</th>
    <th>Sender</th>
    <th>Buchungstext</th>
    <th>Betrag</th>
    <th>Währung</th>
    <th>Mitgliedschaft</th>
    <th>Hinweise</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
<br>

<div class="card">
  <h3 class="card-header">Aktionen</h3>
  <div class="card-body">
    <%= button_to 'Korrekturbuchung anlegen', new_transaction_path, { params: { status_message: "Korrekturbuchung" }, type: "button", class: 'btn btn-outline-primary', method: :get } %>
    <br>
    <%= button_to('Transaktionen als CSV exportieren', { :action => :export_csv, format: 'csv' }, { type: "button", class: 'btn btn-outline-primary', method: :get }) %>
    <br/>
    <h5>Bankumsätze importieren (CSV der Sparkasse)</h5>
    <%= form_tag import_transactions_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV" %>
    <% end %>

  </div>
</div>
