<h1>Daten der Transaktion</h1>

<p>
  <strong>Buchungsdatum:</strong>
  <%= @transaction.entry_date %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @transaction.sender %>
</p>

<p>
  <strong>Buchungstext:</strong>
  <%= @transaction.description %>
</p>

<p>
  <strong>Betrag:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Währung:</strong>
  <%= @transaction.currency %>
</p>

<p>
  <strong>Mitgliedschaft:</strong>
  <%= @transaction.membership_id %>
</p>

<p>
  <strong>Hinweise:</strong>
  <%= @transaction.status_message %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
