<div class="card">
  <h3 class="card-header">Details der Transaktion</h3>
  <div class="card-body">
    <p>
      <strong>Buchungsdatum:</strong>
      <%= @transaction.entry_date %>
    </p>

    <p>
      <strong>Sender:</strong>
      <%= @transaction.sender %>
    </p>

    <p>
      <strong>Buchungstext:</strong>
      <%= @transaction.description %>
    </p>

    <p>
      <strong>Betrag:</strong>
      <%= number_with_delimiter(@transaction.amount) %>
    </p>

    <p>
      <strong>Währung:</strong>
      <%= @transaction.currency %>
    </p>

    <p>
      <strong>Mitgliedschaft:</strong>
      <%= @transaction.membership_id %>
    </p>

    <p>
      <strong>Hinweise:</strong>
      <%= @transaction.status_message %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @transaction.status %>
    </p>

    <%= link_to 'Bearbeiten', edit_transaction_path(@transaction) %> |
    <%= link_to 'Zurück', transactions_path %>
  </div>
</div>