<!DOCTYPE html>
<html>
  <head>
    <title>Soladi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= render "layouts/navigation" %>
      <% end %>
    </header>
    <% flash.each do |type, msg| %>
      <% if type == "alert" %>
        <div class="alert alert-danger" role="alert">
          <%= msg %>
        </div>
      <% else %>
        <div class="alert alert-info" role="alert">
          <%= msg %>
        </div>
      <% end %>
    <% end %>
    <main class="container-xl" style="margin-left: 20px; margin-right: 10px;">
      <div class="row">
        <div class="col">
          <br>
          <%= yield %>
          <br>
        </div>
      </div>
    </main>
  </body>
</html>
