<!DOCTYPE html>
<html>
  <head>
    <title>Soladi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render "layouts/navigation" %>
    </header>
    <% flash.each do |type, msg| %>
      <% if type == "alert" %>
        <div class="alert alert-danger" role="alert">
          <%= msg %>
        </div>
      <% else %>
        <div class="alert alert-info" role="alert">
          <%= msg %>
        </div>
      <% end %>
    <% end %>
    <main class="container-xl">
      <div class="row">
        <div class="col">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
